In [2]:
import os
import pandas as pd
import nibabel as nib
import numpy as np

In [57]:
data_2_path = '/nasdata4/CNAlab_data/BDSP/ADNI/2/ADNI/IMAGE/BRAIN/DATA/derivative/metadata/lists/ADNI2_all_image_viscode_applied_demo.csv'
data_3_path = '/nasdata4/CNAlab_data/BDSP/ADNI/3/ADNI/IMAGE/BRAIN/DATA/derivative/metadata/lists/ADNI3_exclude_NAN_DX_with_viscode_applied_demo.csv '
data_GO_path = '/nasdata4/CNAlab_data/BDSP/ADNI/GO/ADNI/IMAGE/BRAIN/DATA/derivative/metadata/lists/ADNIGO_exclude_NAN_DX_with_viscode_applied_demo.csv'

In [58]:
NC_age_path = '/nasdata4/kwonhwi/GraphTransformer/data/NC_age.csv'
AD_age_path = '/nasdata4/kwonhwi/GraphTransformer/data/AD_age.csv'
MCI_age_path = '/nasdata4/kwonhwi/GraphTransformer/data/MCI_age.csv'

NC_list = '/nasdata4/kwonhwi/GraphTransformer/data/NC_list.txt'
AD_list = '/nasdata4/kwonhwi/GraphTransformer/data/AD_list.txt'
MCI_list = '/nasdata4/kwonhwi/GraphTransformer/data/MCI_list.txt'

In [32]:
df = pd.read_csv(data_2_path, delim_whitespace=True)

df['AGE'] = pd.to_numeric(df['AGE'], errors='coerce')  # 숫자가 아닌 값은 NaN으로 변환
df_cleaned = df.dropna(subset=['AGE'])  # NaN이 있는 행 제거

# 결과 출력
print(df_cleaned[['ID', 'AGE']])

with open('/nasdata4/kwonhwi/GraphTransformer/data/NC_list.txt', 'r') as f:
    file_list = f.read().splitlines()

/tmp/ipykernel_3926604/949221532.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(data_path, delim_whitespace=True)

In [35]:
sub_dirs = [d for d in os.listdir(NC_path) if os.path.isdir(os.path.join(NC_path, d))]

In [53]:
with open('/nasdata4/kwonhwi/GraphTransformer/data/NC_list.txt', 'r') as f:
    file_list = f.read().splitlines()

In [54]:
matched_items = []
for item in file_list:
    id_part = item[-10:]  # "sub-" 이후 부분 추출
    if id_part in df_cleaned['ID'].values:  # df['ID']와 비교
        age = df.loc[df['ID'] == id_part, 'AGE'].values[0]  # 해당 ID의 AGE 값
        matched_items.append((item, age))  # 일치 항목 저장

# 4. 결과 저장

In [55]:
matched_df = pd.DataFrame(matched_items, columns=['id', 'AGE'])
matched_df.to_csv(NC_age_path, index=False)  # 결과 CSV 저장

print(matched_df)

                           id   AGE
0    sub-2100322004098_S_4506  71.5
1    sub-2100322004094_S_4503  71.7
2    sub-2100322004007_S_4488  72.6
3    sub-2100322004007_S_4516  71.4
4    sub-2100322004016_S_4688  81.7
..                        ...   ...
112  sub-2100332004128_S_0272  76.4
113  sub-2100332004126_S_0680  87.8
114  sub-2100332004116_S_0382  80.5
115  sub-2100332004100_S_0069  78.9
116  sub-2100332004126_S_0605  81.6

[117 rows x 2 columns]